<%= error_messages_for(@branch) %>

<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Branch form fields">
    <tbody>
      <br>
      <tr>
        <th><%= f.label(:id_code, t(:id_code)) %></th>
        <td><%= f.text_field(:id_code) %></td>
      </tr> 
      <tr>
        <th><%= f.label(:discipline, t(:discipline)) %></th>
        <td><%= f.text_field(:discipline) %></td>
      </tr> 
      <tr>
        <th><%= f.label(:name, t(:name)) %></th>
        <td><%= f.text_field(:name) %></td>
      </tr>

      <tr>
        <th><%= f.label(:company_id, t(:company_id)) %></th>
        <td><%= f.text_field(:company_id) %></td>
      </tr> 
      <tr>
        <th><%= f.label(:email, t(:email)) %></th>
        <td><%= f.text_field(:email) %></td>
      </tr>        
      <tr>
        <th><%= f.label(:contact_details_id, t(:contact_details_id)) %></th>
        <td><%= f.text_field(:contact_details_id) %></td>
      </tr> 
        <tr>
        <th><%= f.label(:creator, t(:creator)) %></th>
        <td><%= f.text_field(:creator) %></td>
      </tr> 
    </tbody>
  </table>
</div>

<%= javascript_tag("$(document).ready( function () {$('#fields_table').DataTable();} );") %>
<%= javascript_tag("$('#fields_table').DataTable( {responsive: true, paging: false} );") %>