<%= error_messages_for(@branch) %>

<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Branch form fields">
    <tbody>
      <br>
      <tr>
        <th><%= f.label(:id_code, t(:id_code)) %></th>
        <td><%= f.text_field(:id_code) %></td>
      </tr> 
      <tr>
        <th><%= f.label(:discipline, t(:discipline)) %></th>
        <td><%= f.text_field(:discipline) %></td>
      </tr> 
      <tr>
        <th><%= f.label(:name, t(:name)) %></th>
        <td><%= f.text_field(:name) %></td>
      </tr>

      <tr>
        <th><%= f.label(:company_id, t(:company)) %></th>
        <td><%= @is_company ? @current_user.name : f.collection_select(:company_id, @current_user.companies, :id, :name,include_blank: true) %></td>
        <%= @is_company ? f.hidden_field(:company_id, :value => @current_user.id) : "-" %> <!-- This needs to change when a PROFESSIONAL -->
      </tr>
<!-- 
      <tr>
        <th><%#= f.label(:company_id, t(:company_id)) %></th>
        <td><%#= f.text_field(:company_id) %></td>
      </tr> 
 -->


      <tr>
        <th><%= f.label(:email, t(:email)) %></th>
        <td><%= f.text_field(:email) %></td>
      </tr>        
      <tr>
        <th><%= f.label(:contact_details_id, t(:contact_details_id)) %></th>
        <td><%= f.text_field(:contact_details_id) %></td>
      </tr> 
        <tr>
        <th><%= f.label(:creator, t(:creator)) %></th>
        <td><%= f.text_field(:creator) %></td>
      </tr> 
    </tbody>
  </table>
   <%= f.hidden_field(:company_id, :value => @branch.company_id) %>
</div>

<%= javascript_tag("$(document).ready( function () {$('#fields_table').DataTable();} );") %>
<%= javascript_tag("$('#fields_table').DataTable( {responsive: true, paging: false} );") %>