<% provide(:title, 'Edit Branch') %>

<div class="branch edit">
  <h1>Edit Branch</h1>
  <%= link_to("<< Back to Menu", {:action => 'index'}, :class => 'back-link') %>
  <%= error_messages_for(@branch) %>
	  <%= form_for(@branch) do |f| %>
	  <%= render(:partial => 'form', :locals => {:f => f} ) %>
	<div class="form_buttons">
	   <%= submit_tag('Update Branch') %>
	</div>
  	  <% end %>
</div>