
<div class="table-responsive">
    <table id="fields_table" class="display responsive" summary="Professionals form fields">
          <tbody>
            <br>
             <tr>
              <th><%= f.label(:id_code, t(:id_code)) %></th>
              <td><%= f.text_field(:id_code) %></td>
            </tr>     
            <tr>
              <th><%= f.label(:discipline, t(:discipline)) %></th>
              <td><%= f.text_field(:discipline) %></td>
            </tr> 
            <tr>
              <th><%= f.label(:first_name, t(:first_name)) %></th>
              <td><%= f.text_field(:first_name) %></td>
            </tr> 
            <tr>
              <th><%= f.label(:last_name, t(:last_name)) %></th>
              <td><%= f.text_field(:last_name) %></td>
            </tr>
         <!--    <tr>
                <th><%#= f.label(:dob, t(:dob)) %></th>
                <td><%#= f.date_select(:dob, {:start_year => 1900, :end_year => Time.zone.now.year}) %></td>
            </tr> -->
            <tr>
              <th><%= f.label(:email, t(:email)) %></th>
              <td><%= f.text_field(:email) %></td>
            </tr>
            <tr>
              <th><%= f.label(:contact_details_id, t(:contact_details_id)) %></th>
              <td><%= f.text_field(:contact_details_id) %></td>
            </tr> 
            <tr>
              <th><%= f.label(:creator, t(:creator)) %></th>
              <td><%= f.text_field(:creator) %></td>
            </tr> 
            <tr>
              <th><%= f.label(:specialty, t(:specialty)) %></th>
              <td><%= f.text_field(:specialty) %></td>
            </tr>
          </tbody>
 
    <%= f.hidden_field(:id_token, :value => @professional.id_token) %>
    
     </table>
</div>

<%= javascript_tag("$(document).ready( function () {$('#fields_table').DataTable();} );") %>
<%= javascript_tag("$('#fields_table').DataTable( {responsive: true, paging: false} );") %>



