<% provide(:title, 'Edit Professional') %>

<div class="professional edit">
	  <h2>Edit Professional</h2>
	  <%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
	  <%= error_messages_for(@professional) %>
	  		<br>
		    <%= form_for(@professional) do |f| %>
			  <%= render(:partial => 'form', :locals => {:f => f} ) %>
			<div class="form_buttons">
			   <%= submit_tag('Update Professional') %>
			</div>
		  	  <% end %>
</div>