 
<!-- What is intended with this partial form is to apply the DRY concept. This will be used
to create to show in when showing the contact details of each object as : Users, Professionals, Branches and Companies. -->    

 
 		<!--   /**  Form used for sign Up  **/  -->

 	</tr>
		<th> <%= t(:address_type) %></th>
		<td><%= @company.address_type  %></td>
	</tr>
	</tr>
		<th> <%= t(:address) %></th>
		<td><%= @company.address  %></td>
	</tr></tr>
		<th> <%= t(:city) %></th>
		<td><%= @company.city  %></td>
	</tr></tr>
		<th> <%= t(:state) %></th>
		<td><%= @company.state  %></td>
	</tr></tr>
		<th> <%= t(:country) %></th>
		<td><%= @company.country  %></td>
	</tr>
	</tr></tr>
		<th> <%= t(:tel) %></th>
		<td><%= @company.tel  %></td>
	</tr>