
<% provide(:title, 'Edit Contact Details') %>
  <%= error_messages_for(@contact_detail) %>

<div class="contact_detail edit">
<h2>Edit Contact Detail</h2>
<%= link_to("<< Back to Menu", {:action => 'index'}, :class => 'back-link') %>
	  <%= form_for(@contact_detail) do |f| %>
	  <%= render(:partial => 'form', :locals => {:f => f} ) %>
	<div class="form_buttons">
	   <%= submit_tag('Update Contact Detail') %>
	</div>
  	  <% end %>
</div>