<% provide(:title, "Contact Details Index") %> 

<!-- <% @page_tittle = " Contact Details " %> -->

<div class="contact details index">
	
<h2> Contact Details </h2>
<%= link_to("Add New Contact Details", new_contact_detail_path, :class => 'action new') %>
		
	<!-- Here I will pluralize to say how many Contact Details are/is found -->

		<div><%= pluralize(@contact_details.size, 'Contact Detail') %> found</div>
		
		<table class= "table table-striped" summary="Contact_detail List">
		  <thead>
		  	<br>
			<tr>				
				<th>id</th>
				<th>Company </th>
				<th>Branch</th>
				<th>Professional</th>	
				<th>Client</th>
				<th>User</th> 		
				<th>City</th>    
				<th>Telephone</th>
				<th>Actions</th>
			</tr>
		  </thead>
		  <tbody>

		<% @contact_details.each do |contact_detail| %>
		<tr>	
				<td><%= contact_detail.id %></td>		
				<td><%= contact_detail.company_id %></td>
				<td><%= contact_detail.branch_id %></td>
				<td><%= contact_detail.professional_id %></td>
				<td><%= contact_detail.client_id %></td>
				<td><%= contact_detail.user_id %></td>		
				<td><%= contact_detail.city %></td>
				<td><%= contact_detail.telephone %></td>

				<td class="actions">
				
				<%= link_to("Show", contact_detail, :class => 'action show') %>
				<%= link_to("Edit", [:edit,contact_detail], :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => contact_detail.id},:class => 'action delete') %>
				 </td>
		</tr>
		<% end %>
		</tbody>
	</table>
</div>

