<% provide(:title, 'Edit User') %>

<!-- <%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %> -->

<!-- When action is implemented fully, I must be able to update all the users details -->

<div class="user edit"> 
  <h1>Edit User</h1>
  <%= error_messages_for(@user) %>

	 <%= form_for(@user) do |f| %>
	 <%= render(:partial => 'shared/form', :locals => {:f => f} ) %>
	 <%= f.submit "Update User account", class: "btn btn-primary" %>
	 <!-- It is missing a cancel button -->
	 <% end %>
</div>
