<% provide(:title, "Add New Client") %>

<%= error_messages_for(@client) %> 

<!--<% @page_title = t(:client).pluralize(locale) %> -->


<div class="clients new">
  <h2><%= t(:create) + " " + t(:client) %></h2>

		<%= link_to("<< Back to Menu", {:controller => 'clients', :action => 'index'}, :class => 'back-link') %>
		  <%= form_for(@client) do |f| %>

		  <%= render(:partial => "form", :locals => {:f => f}) %>
   	      <div class="form_buttons">
		       <%= submit_tag("Create Client") %>
		   <!--  <div class="form-buttons"> 
		      <%#= submit_tag(t(:create) + " " + t(:client)) %> -->
		    </div>
		  <% end %>
</div>