<% provide(:title, "Show Client") %> 

<h2>Client Details</h2>

<%= link_to("<< Back to Menu", {:controller => 'clients', :action => 'index'}, :class => 'back-link') %>
<div class="clients show">

<div class="table-responsive">
    <table id="show_table" class="display responsive" summary="client detail view">
      <tbody>
	 <br>
     <tr>	
		<th><%= t(:id) %></th>
		<td><%= @client.id%></td>
	 </tr>
     <tr>	
		<th><%= t(:id_code) %></th>
		<td><%= @client.id_code %></td>
	 </tr>

	 <tr>
		<th><%=  t(:name) %></th>
		<td><%= @client.name %></td>
	 </tr>
	 <tr>
		<th><%=  t(:last_name) %></th>
		<td><%= @client.last_name %></td>
	 </tr>
  
	 <tr>
		<th><%=  t(:company_id) %></th>
		<td><%= @client.company_id %></td>
	 </tr>
	  <th> <%= t(:branch_id) %></th>
		<td><%= @client.branch_id  %></td>
	 </tr>
   	 <th> <%= t(:email) %></th>
		<td><%= @client.email  %></td>
	 </tr>


<!-- If Contact Details isn't placed in index  I think that this is a great place to place contact details
<%#= link_to(t(:contact_details), {:controller => 'contact_details', :professional_id => professional.id}, :class => 'action show') %> 
-->
	 </tr>
		<th> <%= t(:contact_details_id) %></th>
		<td><%= @client.contact_details_id  %></td>
	</tr>


<!-- This has to be FILL IN automatically and kept on the data base depending who is the logger when creating it. It could be either Company or Professional. In the View  it has to be a dropdown with both ooptions. -->
	<tr>
		<th> <%= t(:creator) %></th>  
		<td><%= @client.creator %></td>
	</tr>

<!-- This has to be FILL IN automatically depending who is the logger in the current session. It would be deleted as soon as the user log off. Sort of virtual attribute. -->
	 <tr>
	 	<th> <%= t(:logged_as) %></th>
		<td><%= @client.logged_as %></td>
	 </tr>

	 <tr>
		<th><%= t(:Created_at) %></th>
		<td><%= @client.created_at %></td>
	 </tr>
	 <tr>
		<th> <%= t(:Updated_at) %></th>
		<td><%= @client.updated_at %></td>
	 </tr>

	 
	    </tbody>
</table>

</div>

<%= javascript_tag("$(document).ready( function () {$('#show_table').DataTable();} );") %>
<%= javascript_tag("$('#show_table').DataTable( {responsive: true, paging: false} );") %>
