<% provide(:title, 'Edit Company') %>
<!-- When action is implemented fully, I must be able to update all the users details -->
<div class="company edit">
  <h2>Edit Company</h2>
  <%= link_to("<< Back to Menu", {:action => 'index'}, :class => 'back-link') %>
  <%= error_messages_for(@company) %>
	  <%= form_for(@company) do |f| %>
	  <%= render(:partial => 'form', :locals => {:f => f} ) %>
	<div class="form_buttons">
	   <%= submit_tag('Update Company') %>
	</div>
  	  <% end %>
</div>