



<% provide(:title, "Company Index") %> 

<!-- <% @page_tittle = " Companies " %> -->

<div class="company index">
	
		<h2> Companies </h2>

		

<%= link_to("Add New Company", new_company_path, :class => 'action new') %>
		
	<!-- Here I will pluralize to say how many companies are/is found -->

		<div><%= pluralize(@companies.size, 'company') %> found</div>
		
		<table class= "table table-striped" summary="Company List">
		  <thead>
			<tr>
				
				<th>id</th>
				<th>Id Code</th>
				<th>Name</th>	<!-- This field will be visible only if the @current_user = Professional. Make sure of this -->
				<th>email</th>
				<th>Professionals</th>    <!-- This field will be visible only if the @current_user = Company. Make sure of this -->
				<th>Branches</th> 
				<th>Clients</th>
				<th>Appointments</th>
				<th>Actions</th>
			</tr>
		  </thead>
		  <tbody>

		<% @companies.each do |company| %>
		<tr>	
				<td><%= company.id %></td>		
				<td><%= company.id_code %></td>
				<td><%= company.name %></td>
				<td><%= company.email %></td>
				<td class="center"><%= company.professionals.size %></td> 
				<td class="center"><%= company.branches.size %></td>
				<td class="center"><%= company.clients.size %></td>
				<td class="center"><%= company.appointments.size %></td>			

				<td class="actions">

			<%#= link_to("View Companies", {:controller => 'companies', :company_id => company.id}, :class => 'action show') %>
				
				<%= link_to("Show", company, :class => 'action show') %>
				<%= link_to("Edit", [:edit,company], :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => company.id},:class => 'action delete') %>
		

				<%#= <%= link_to("Delete", [:delete,company], :class => 'action delete') %> 
			 </td>
		</tr>
		<% end %>
		</tbody>
	</table>
</div>

