<% provide(:title, "Add New Appointment") %>

<%= error_messages_for(@appointment) %> 

<!--<% @page_title = t(:appointment).pluralize(locale) %> -->

<!-- <%#= link_to("<< " + t(:return_to), [@current_user, params[:controller]], :class => 'back-link') %> -->

<div class="appointments new">
  <h2><%= t(:create) + " " + t(:appointment) %></h2>


<%= link_to("<< Back to Menu", {:controller => 'appointments', :action => 'index'}, :class => 'back-link') %>
<br>

		  <%= form_for(@appointment) do |f| %>

		    <%= render(:partial => "form", :locals => {:f => f}) %>


		    <div class="form_buttons">
		       <%= submit_tag("Create Appointment") %>


		   <!--  <div class="form-buttons"> 
		      <%#= submit_tag(t(:create) + " " + t(:appointment)) %> -->
		    </div>
		  <% end %>
</div>