<% provide(:title, "Show Appointment") %> 
<!-- 
<% @page_title = t(:appointment).pluralize(locale) %>
 -->
<%= link_to("<< " + t(:return_to), [@current_user, params[:controller]], :class => 'back-link') %>

<div class="appointments show">

<h1><%= @is_company ? @current_user.name : f.collection_select(:company_id, @current_user.companies, :id, :name,include_blank: true) %></h1> <!-- Ccrouds -->


  <h2><%= t(:show) + " " + t(:appointment) %></h2>

  <div class="table-responsive">
    <table id="show_table" class="display responsive" summary="appointment detail view">
      <tbody>

    <tr>  
    <th><%= t(:id) %></th>
    <td><%= @appointment.id %></td>
   </tr>	
   <tr>  
    <th><%= t(:discipline) %></th>
    <td><%= @appointment.discipline %></td>
   </tr>
   <tr> 
    <th><%= t(:company_id) %></th>
    <td><%= @appointment.company_id %></td>
   </tr>
   <tr> 
    <th><%= t(:branch_id) %></th>
    <td><%= @appointment.branch_id %></td>
   </tr>
   <tr>
     <th><%= t(:professional) %></th>
     <td><%= @appointment.professionals.size %></td>
   </tr>
   <tr> 
    <th><%= t(:client_id) %></th>
    <td><%= @appointment.client_id %></td>
   </tr>
   <tr>
     <th><%= t(:shared) %></th>
     <td><%= @appointment.shared %></td>
   </tr>
   <tr>
     <th><%= t(:date_time) %></th>
     <td><%= @appointment.date_time %></td>
   </tr>
   <tr> 
    <th><%= t(:status) %></th>
    <td><%= @appointment.status %></td>
   </tr>
   <tr> 
    <th><%= t(:appointment_code) %></th>
    <td><%= @appointment.appointment_code %></td>
   </tr>
   <tr> 
   <th><%= t(:follow_up_code) %></th>
    <td><%= @appointment.follow_up_code %></td>
   </tr>
   <tr> 
    <th><%= t(:task_type) %></th>
    <td><%= @appointment.task_type %></td>
   </tr>
   <tr> 
    <th><%= t(:task_note) %></th>
    <td><%= @appointment.task_note %></td>
   </tr>
   <tr> 
    <th><%= t(:photo) %></th>
    <td><%= @appointment.photo %></td>
   </tr>
   <tr> 
    <th><%= t(:needs_folloup) %></th>
    <td><%= @appointment.needs_folloup %></td>
   </tr>
   <tr> 
    <th><%= t(:payment_details_id) %></th>
    <td><%= @appointment.payment_details_id %></td>
   </tr>
   <tr> 
    <th><%= t(:creator) %></th>
    <td><%= @appointment.creator %></td>
   </tr>
   <tr> 
    <th><%= t(:logged_as) %></th>
    <td><%= @appointment.logged_as %></td>
   </tr>
    <tr>
    <th><%= t(:Created_at) %></th>
    <td><%= @appointment.created_at %></td>
   </tr>
   <tr>
    <th> <%= t(:Updated_at) %></th>
    <td><%= @appointment.updated_at %></td>
   </tr>    
   </tbody>
</table>

</div>

<%= javascript_tag("$(document).ready( function () {$('#show_table').DataTable();} );") %>
<%= javascript_tag("$('#show_table').DataTable( {responsive: true, paging: false} );") %>

	 