<% provide(:title, "Show Appointment") %> 

<h2>Appointmnet Details</h2>

<%= link_to("<< Back to Menu", {:controller => 'appointments', :action => 'index'}, :class => 'back-link') %>



<div class="appointments show">

<div class="table-responsive">
    <table id="show_table" class="display responsive" summary="appointment detail view">
      <tbody>

    <tr>  
    <th><%= t(:id) %></th>
    <td><%= @appointment.id %></td>
   </tr>	
   <tr>  
    <th><%= t(:discipline) %></th>
    <td><%= @appointment.discipline %></td>
   </tr>
   <tr> 
    <th><%= t(:company_id) %></th>
    <td><%= @appointment.company_id %></td>
   </tr>
   <tr> 
    <th><%= t(:branch_id) %></th>
    <td><%= @appointment.branch_id %></td>
   </tr>
   <tr> 
    <th><%= t(:client_id) %></th>
    <td><%= @appointment.client_id %></td>
   </tr>
   <tr> 
    <th><%= t(:status) %></th>
    <td><%= @appointment.status %></td>
   </tr>
   <tr> 
    <th><%= t(:appointment_code) %></th>
    <td><%= @appointment.appointment_code %></td>
   </tr>
   <tr> 
   <th><%= t(:follow_up_code) %></th>
    <td><%= @appointment.follow_up_code %></td>
   </tr>
   <tr> 
    <th><%= t(:task_type) %></th>
    <td><%= @appointment.task_type %></td>
   </tr>
   <tr> 
    <th><%= t(:task_note) %></th>
    <td><%= @appointment.task_note %></td>
   </tr>
   <tr> 
    <th><%= t(:photo) %></th>
    <td><%= @appointment.photo %></td>
   </tr>
   <tr> 
    <th><%= t(:needs_followup) %></th>
    <td><%= @appointment.needs_followup %></td>
   </tr>
   <tr> 
    <th><%= t(:payment_details_id) %></th>
    <td><%= @appointment.payment_details_id %></td>
   </tr>
   <tr> 
    <th><%= t(:creator) %></th>
    <td><%= @appointment.creator %></td>
   </tr>
   <tr> 
    <th><%= t(:logged_as) %></th>
    <td><%= @appointment.logged_as %></td>
   </tr>
    <tr>
    <th><%= t(:Created_at) %></th>
    <td><%= @appointment.created_at %></td>
   </tr>
   <tr>
    <th> <%= t(:Updated_at) %></th>
    <td><%= @appointment.updated_at %></td>
   </tr>




     <!--   </tr>  <tr>
        <th><%#= f.label(:professional_id, t(:professiopnal)) %></th>
        <td><%#= f.text_field(:professional_id) %></td>
      </tr>  -->     
   </tbody>
</table>

</div>

<%= javascript_tag("$(document).ready( function () {$('#show_table').DataTable();} );") %>
<%= javascript_tag("$('#show_table').DataTable( {responsive: true, paging: false} );") %>

	 